* {
  background-color: floralwhite;
}

#resume {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-family: Courier;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

a {
  text-decoration: none;
}

#resume:visited {
  color: black;
}

#resume:link {
  color: black;
}

#resume:hover {
  color: powderblue;
}
