@font-face {
    font-family: "paralucent";
    src: url("assets/Paralucent W00 Medium.woff2") format('woff');
}

@keyframes orbit {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg);}
}

html {
    scroll-behavior: smooth;
}

body {
    background: #201938;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
}

#top-bar a {
    text-decoration: none;
}

#title {
    text-align: center;
    font-family: paralucent, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 128px;
    line-height: 182px;
    text-transform: capitalize;

    color: #E85581;
}

#top-bar {
    position: absolute;
    width: 465px;
    height: 62px;
    left: 52px;
    top: 14px;
}

#top-bar a {
    width: 100px;
    height: 62px;

    margin-right: 20px;

    font-family: paralucent, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-transform: lowercase;

    color: #E85581;
}

#link-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.link-svg {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 6px dashed #F6A614;
    margin: 60px;
}

#portfolio-seperator {
    margin-top: 400px;
    width: 100%;
    height: 75px;
    background-color: #fefde2;
    border-top-right-radius: 75%;
    border-top-left-radius: 75%;
}

#portfolio {
    background-color: #fefde2;
}

#portfolio h2 {
    font-family: paralucent, sans-serif;
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    color: #F6A614;
    margin-left: 20px;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    width: 385px;
    height: 463px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #e85581;
}

.project-image {
    width: inherit;
    height: 200px;
    background-color: #201938;
}

.project-body {
    margin: 0px 10px 0px 10px;
}

.project-title {
    font-family: paralucent, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-transform: capitalize;
    
    color: #F6A614;
}

.project-desc {
    font-family: paralucent, sans-serif;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;

    color: #FEFDE2;
}

#about-seperator {
    width: 100%;
    height: 75px;
    background-color: #fefde2;
    border-bottom-right-radius: 75%;
    border-bottom-left-radius: 75%;
}

#about h2 {
    margin-left: 20px;
    font-family: paralucent, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 91px;
    text-transform: capitalize;
    color: #e85581;
}

#stars {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.star {
    position: absolute;
    background-color: #fefde2;
    border-radius: 100%;
}