@font-face {
  font-family: "paralucent";
  src: url("./assets/Paralucent W00 Medium.woff2") format("woff");
}

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #201938;
  margin: 0;
}

#top-bar a {
  text-decoration: none;
}

#keybase {
  display: none;
}

#title {
  text-align: center;
  font-family: paralucent, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 128px;
  line-height: 182px;
  text-transform: capitalize;

  color: #e85581;
}

#top-bar {
  position: absolute;
  width: 465px;
  height: 62px;
  left: 52px;
  top: 14px;
  z-index: 2;
}

#content {
  display: flex;
  flex-direction: column;
}

#home {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  z-index: 1;
  backface-visibility: hidden;
  top: 0px;
  left: 0px;
}

#home > .link-button {
  margin: 0 auto;
  margin-top: 15vh;
}

#top-bar a {
  margin-right: 20px;

  font-family: paralucent, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-transform: lowercase;

  color: #e85581;
}

#link-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.link-svg {
  width: 120px;
  height: 120px;
  margin: 60px;
}

#down {
  margin-top: 80vh;
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  z-index: -1;
  top: 0px;
  left: 0px;
}

#down > img {
  width: 120px;
  height: 120px;
}

#portfolio-seperator {
  margin-top: 400px;
  width: 100%;
  height: 75px;
  background-color: #fefde2;
  border-top-right-radius: 75%;
  border-top-left-radius: 75%;
}

#portfolio {
  padding: 2% 0% 2% 0%;
  background-color: #fefde2;
  margin-top: 100vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#portfolio h2 {
  font-family: paralucent, sans-serif;
  text-transform: capitalize;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  color: #f6a614;
  margin-top: 20px;
  margin-left: 20px;
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5% 0% 5% 0%;
}

.project {
  width: 385px;
  height: 463px;
  margin: 20px 0px 20px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #e85581;
}

.project-link {
  text-decoration: none;
}

.project-image {
  width: inherit;
  height: 200px;
  background-color: #201938;
}

.project-body {
  margin: 0px 10px 0px 10px;
}

.project-title {
  font-family: paralucent, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-transform: capitalize;
  margin: 15px 0px 15px 0px;

  color: #f6a614;
}

.project-desc {
  font-family: paralucent, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;

  color: #fefde2;
}

#about-seperator {
  width: 100%;
  height: 75px;
  background-color: #fefde2;
  border-bottom-right-radius: 75%;
  border-bottom-left-radius: 75%;
}

#about-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#about-links {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#about .link-svg {
  width: 100px;
  height: 100px;
}

#about p {
  color: #f6a614;
  font-size: 24px;
  font-family: paralucent, sans-serif;
  margin-left: 20px;
}

#about h2 {
  margin-left: 20px;
  font-family: paralucent, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 91px;
  text-transform: capitalize;
  color: #e85581;
}

#stars {
  --blur: 0px;
  position: fixed;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  filter: blur(var(--blur));
}

.star {
  position: absolute;
  background-color: #fefde2;
  border-radius: 100%;
  backface-visibility: hidden;
}
